<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>啥都有</title>
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/vander/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/static/vander/bootstrap/bootstrap.min.css">
  
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
        {{ if nickname }}
        <li class="nav-item active mr-5">
          <span class="h1 text-white">{{ nickname }} </span><span class="text-white">Ciallo～(∠・ω< )</span>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:6060/pages/myinfo">个人中心<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:6060/pages/carts">购物车<span class="sr-only">(current)</span></a>
        </li>
        {{ else }}
          <a class="nav-link btn btn-success text-white" href="/pages/login">请登录</a>
          <a class="nav-link text-white" href="/pages/register">点击注册</a>
        {{ /if }}
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:6060/pages/goods">商品页面<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      {{ if nickname }}
      <button class="btn btn-danger mr-2 unlogin">注销登录</button>
      {{ /if }}
      <form class="d-flex">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

    <div class="container" style="background: rgba(255, 255, 255, .5);">
      <div class="row">
        <div class="banner swiper" style="width: 55vw;">
          <div class="swiper-wrapper">
            
            {{ each list }}
            <div class="item swiper-slide" style="background-image: url('http://localhost:8080{{ $value.img_url }}')">
              <a href="{{ $value.link }}" target="_blank" style="display: block; width: 100%; height: 100%"></a>
            </div>
            {{ /each }}
          </div>
    
          <div class="swiper-pagination"></div>
    
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>
    </div>
  <script src="/static/vander/jquery/jquery.min.js"></script>
  <script src="/static/vander/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vander/bootstrap/bootstrap.min.js"></script>
  <script src="/static/js/index.js"></script>
</body>
</html>
